@import "fonts.css";

:root {
  --dark-blue: #0d2e4d;
  --blue: #164573; /* Primary color; */
  --hover: #2985cc;
  --dusty-blue: #5e7c9a;
  --dusty-blue-light: #93b0cd;
  --dusty-blue-lighter: #bbc8d7;
  --aqua: #4dc4d4; /* Secondary color; */
  --dusty-aqua: #d2dfe0;
  --dusty-aqua-light: #f3f7f7;
  --grey: #e5e5e5;
  --dark-grey: #a2a2a2;
  --status-light-red: #e18c8c;
  --status-red: #f24040; /* Error color; */
  --yellow: #fec315; /* Accent color; */
  --white: #fff;
  --black: #000;
  --light-green: #d3f0c08d;

  /* Fonts */
  --font-sans: "Lato", sans-serif;
  --font-serif: "Manus", serif;
}

*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

body,
html {
  margin: 0;
}

main {
  padding-top: 1em;
}

body {
  font-family: var(--font-sans);
  background: var(--white);
  color: var(--blue);
}

.wrapper {
  max-width: 800px;
  padding: 0 1rem;
  margin: 0 auto;
}

.wrapper.front {
  margin: 3em auto;
}

.wrapper.front a {
  text-decoration: none;
}

.front button {
  padding: 0.7em 1em;
  font-size: 1.2em;
  cursor: pointer;
}

.link--dashboard {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: var(--blue);
}

.estateDetails_p {
  display: flex;
  justify-content: space-between;
}

.buyer_card {
  cursor: pointer;
}

.buyer_card .ant-card {
  min-height: 335px;
}

.buyer_card_chosen .ant-card,
.buyer_card_chosen .ant-card-head-title {
  background-color: var(--dusty-blue-lighter);
  color: var(--black);
}

.buyer_card_contacted .ant-card {
  background-color: var(--light-green);
  color: var(--black);
}

.buyer_card_chosen .anticon {
  color: var(--black);
}

.chosen_container {
  display: none;
}
.chosen_container:has(li) {
  display: block;
}

.chosen_container ul,
.dashboard_chosen_container ul {
  padding-left: 0.25em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 0.5em;
}

.dashboard_chosen_container li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.6rem 0.5rem;
  font-size: 1rem;
  padding: 0.5em 0.8em;
  background-color: var(--dusty-blue-lighter);
  color: var(--black);
  border-radius: 5px;
}

.chosen_container li {
  list-style: none;
  display: grid;
  grid-template-areas: "id id id icon" "budget budget budget icon";
  gap: 0.6rem 0.5rem;
  font-size: 1rem;
  padding: 0.5em 0.8em;
  background-color: var(--dusty-blue-lighter);
  color: var(--black);
  border-radius: 5px;
  /* color: var(--dusty-aqua-light); */
}

.id_area {
  grid-area: id;
}
.budget_area,
.dashboard_chosen_container li span:last-child {
  grid-area: budget;
  font-size: 0.75rem;
  font-style: italic;
}

.chosen_container li span:last-child {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.dashboard_sellerCards .ant-card-head-title {
  max-width: 175px;
}

.dashboard_anchor {
  position: absolute;
  top: 16px;
  right: 10px;
}

.chosen_explainer {
  position: absolute;
  bottom: 0;
  right: 1.5rem;
}

.chosen_explainer_left {
  position: absolute;
  bottom: 0;
}

.ant-btn {
  margin: 2rem 0 1rem;
}

.dashboard_atag {
  color: var(--black);
  text-decoration: none;
  text-underline-offset: 3px;
}
.dashboard_atag:hover {
  text-decoration: underline var(--dusty-blue);
  color: var(--dusty-blue);
}

.dashboard_filter_buttons .ant-radio-button-wrapper {
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

.dashboard_filter_buttons .ant-radio-button-wrapper::before {
  width: 0px;
}

.dashboard_filter_buttons .ant-radio-button-wrapper:hover {
  background-color: var(--dusty-blue-lighter);
  color: var(--blue);
}

.dashboard_filter_buttons .ant-radio-button-wrapper-checked {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.dashboard_filter_buttons .ant-radio-button-wrapper-checked:hover {
  color: white !important;
}

.filterUnder768 {
  display: none !important;
}

.familyMembers {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}

.familyMemberBlock {
  display: flex;
  align-items: end;
}

@media screen and (width < 768px) {
  .estateDetails_p {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .dashboard_filter_buttons .ant-select {
    width: 100%;
  }

  .filterUnder768 {
    display: block !important;
  }

  .filterOver768 {
    display: none !important;
  }
}
@media screen and (width < 500px) {
  .front button {
    margin-inline: auto;
  }
}
