.headline {
  font-size: 5rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.form {
  background-color: var(--dusty-blue-lighter);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form button {
  max-width: fit-content;
  padding: 0.5rem;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  display: block;
}

.button {
  padding: 0.5rem;
  background: var(--blue);
  color: var(--white);
  display: block;
  transition: all 300ms ease;
}
.button:hover {
  background: var(--hover);
}

.formInput {
  width: 200px;
}

.visualSteps {
  max-width: 768px;
  margin-inline: auto;
}

.buyerCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em 2em;
}

.cardSelector {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 1.5em;
}
