.headline {
  font-size: 5rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.headline_explainer {
  text-align: center;
  margin-block: 3em 1.5em;
}
.headline_end_explainer {
  text-align: center;
}

.headline_end_explainer1 {
  margin-top: 2em;
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}
.content :first-child,
.content > h2 {
  margin-top: 0;
}
.content :last-child {
  margin-bottom: 0;
}

.form {
  background-color: var(--dusty-blue-lighter);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form button {
  max-width: fit-content;
  padding: 0.5rem;
  cursor: pointer;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  display: block;
}

.button {
  padding: 0.5rem;
  background: var(--blue);
  color: var(--white);
  display: block;
  transition: all 300ms ease;
  cursor: pointer;
}
.button:hover {
  background: var(--hover);
}

.relative_container {
  position: relative;
}

.next_button {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0.85em;
}

.formInput {
  width: 100%;
}

.visualSteps {
  max-width: 768px;
  margin-inline: auto;
  margin-block: 2em;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.estateDetails_image,
.estateDetails_end_image {
  width: 100%;
  height: auto;
  align-self: center;
}

.buyerCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em 2em;
}

.cardSelector {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 1.5em;
}

.personalInfo1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.personalInfoFlex {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (width < 768px) {
  .headline {
    font-size: 3.5rem;
    line-height: 1.1;
  }

  .headline_explainer {
    margin-block: 1.5em 1.5em;
    font-size: 1.1em;
    text-align: left;
  }

  .grid_1_1,
  .grid_1_2 {
    display: block;
  }

  .estateDetails_image {
    display: none;
  }

  .formInput {
    width: 100%;
  }
  .headline_end_explainer1 {
    margin-top: 1em;
  }
  .visualSteps {
    max-width: 157px;
    margin-inline: auto;
    margin-block: 2em;
  }
}

@media screen and (width < 500px) {
  .headline {
    font-size: 3rem;
    line-height: 1;
  }

  .headline_end_explainer {
    font-size: 1.2em;
  }
}
